<div class="main-bar-area">
  <h1>ボード一覧</h1>
  <div class="rooms">
    <% if @boards.present? %>
      <% @boards.each do |board| %>
        <div class="room">
          <p><strong>モデル名:</strong> <%= board.model %></p>
          <p><strong>メーカー:</strong> <%= board.brand %></p>
          <p><strong>状態:</strong> <%= board.condition.name %></p>
          <p><strong>スタイル:</strong> <%= board.style.name %></p>
          <p><strong>購入日:</strong> <%= board.purchase.strftime('%Y年%m月%d日') if board.purchase %></p>
          <p><strong>長さ:</strong> <%= board.length %> cm</p>
          <p><strong>値段:</strong> ¥<%= number_with_delimiter(board.price) %></p>
          <%= link_to 'ボードメンテナンス', new_board_maintenance_path, class: 'board-maintenance-btn' %>
        </div>
      <% end %>
    <% else %>
      <p>登録されたボードがありません。</p>
    <% end %>
  </div>
</div>